<h2>PRICE</h2>
<P id="priceP">10</P>

<form id="form">
    Price <input type="number" name="price" id="price">
    <input type="submit" value="SEND">
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>